<div
    class="relative px-5 py-3 border-2 bg-violet-50 text-violet-700 border-violet-100 rounded mb-3 font-bold text-center text-2xl">
    COMMUNITY WISE
</div>
<div id="communityBlk" class="animate-pulse">

    <div class="grid grid-cols-1 xl:grid-cols-12 gap-5">
        <div class="col-span-6">
            <div class="card ">
                <div class="card-body pb-0">
                    <h6 class="mb-1 text-15 text-gray-600">Pie Chart</h6>
                </div>
                <div class="card-body flex flex-wrap gap-3">
                    <div id="community" class="w-full" dir="ltr"></div>
                </div>
            </div>
        </div>
        <div class="col-span-6">
            <div class="card">
                <div class="card-body pb-0">
                    <h6 class="mb-1 text-15 text-gray-600">Bar Chart</h6>
                </div>
                <div class="card-body flex flex-wrap gap-3">
                    <div id="barCommunity" class="w-full" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>
</div>