<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>TNEA VISUALS</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="https://tneaseatmatrix.in/static/media/logo-small.b861be43fb160f184dd8.png" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/assets/css/tailwind.css" />
</head>

<body data-sidebar-size="lg">


    <!-- leftbar-tab-menu -->
    <nav class="border-b border-slate-100  print:hidden flex items-center justify-center  bg-green-50 z-10 ">
        <div class="p-5">
            <img class="inline-block h-20 w-20"
                src="https://tneaseatmatrix.in/static/media/logo-small.b861be43fb160f184dd8.png" alt="">
        </div>
        <div>
            <h1 class="font-bold text-green-700  text-4xl">TNEA STATISTICS </h1>
        </div>

    </nav>

    <div class="page-content  min-h-screen">
        <div class="container-fluid px-[0.625rem]">

            {% include "summary.html" %}
            {% include "gender.html" %}
            {% include "payment.html" %}
            {% include "govt.html" %}
            {% include "board.html" %}
            {% include "district.html" %}
            {% include "community.html" %}

        </div>
    </div>
    </div>

    <script src="static/assets/js/charts.js"> </script>
    <script src="static/assets/js/tabs.js"></script>
    <script>
        totalReg();
        gender();
        mode();
        govt();
        board();
        district();
        community();
    </script>








</body>

</html>