<div
    class="relative px-5 py-3 border-2 bg-violet-50 text-violet-700 border-violet-100 rounded mb-3 font-bold text-center text-2xl">
    PAYMENT MODE
</div>
<div id="payment" class="animate-pulse">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-5 mt-5">
        <div class="col-span-12 xl:col-span-6">
            <div class="card p-5 rounded bg-blue-500 border-blue-500 text-center">
                <h5 class="mb-3 text-white text-17 font-bold" id="onlineCrd"></h5>
                <p class="text-white/60">Online</p>
            </div>
        </div>
        <div class="col-span-12 xl:col-span-6">
            <div class="card p-5 rounded bg-green-500 border-green-500 text-center">
                <h5 class="mb-3 text-white text-17 font-bold" id="DDCrd"></h5>
                <p class="text-white/60">DD</p>
            </div>
        </div>

    </div>
    <div class="grid grid-cols-1 xl:grid-cols-12 gap-5">
        <div class="col-span-6">
            <div class="card ">
                <div class="card-body pb-0">
                    <h6 class="mb-1 text-15 text-gray-600">Payment Mode</h6>
                </div>
                <div class="card-body flex flex-wrap gap-3">
                    <div id="mode" class="w-full" dir="ltr"></div>
                </div>
            </div>
        </div>
        <div class="col-span-6">
            <div class="card ">
                <div class="card-body pb-0">
                    <h6 class="mb-1 text-15 text-gray-600">Payment Mode</h6>
                </div>
                <div class="card-body flex flex-wrap gap-3">
                    <div id="barMode" class="w-full" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>
</div>